<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:insert="fragments/fragment :: cabecera"></th:block>
</head>
<nav>
  <th:block th:insert="fragments/fragment :: navegacion"></th:block>
</nav>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Error 404: Página no encontrada</h1>
    <div class="alert alert-danger" role="alert">
      La página que estás buscando no existe.
    </div>
    <a class="btn btn-secondary" th:href="@{/public}">Volver al inicio</a>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
