<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!--<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar libro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
-->
<head>
    <th:block th:insert="fragments/fragment :: cabecera"></th:block>
</head>
<nav>
    <th:block th:insert="fragments/fragment :: navegacion"></th:block>
</nav>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Editar libro</h1>
        <form method="post" th:action="@{/libros/editar/{id}/submit(id=${libroForm.id})}" th:object="${libroForm}"  enctype="multipart/form-data">
            <div class="form-group">
                <label for="id">Id:</label>
                <input type="text" class="form-control" id="id" th:field="*{id}" readonly />
            </div>
            <div class="form-group">
                <label for="portada">Portada:</label>
                <input type="file" class="form-control" id="portada" name="portada" />
            </div>
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" th:field="*{titulo}" />
            </div>
            <div class="form-group">
                <label for="ano">Año:</label>
                <input type="date" class="form-control" id="ano" th:field="*{ano}" />
            </div>
            <div class="form-group">
                <label for="autor">Autor:</label>
                <input type="text" class="form-control" id="autor" th:field="*{autor}" />
            </div>
            <div class="form-group">
                <label>Idioma:</label><br />
                <div th:each="idi : ${T(com.example.bookadvisor.domain.Idioma).values()}">
                   <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="button1" th:value="${idi}"
                            th:field="*{idioma}" />
                        <label class="form-check-label" th:text="${idi}"></label>
                    </div>
                </div>
            <div class="form-group">
                <label for="sipnosis">Sinopsis:</label>
                <textarea class="form-control" id="sipnosis" th:field="*{sipnosis}"></textarea>
            </div>
            <div class="form-group">
                <label for="fechaAlta">Fecha de Alta:</label>
                <input type="date" class="form-control" id="fechaAlta" th:field="*{fechaAlta}" />
            </div>
            <div class="form-group">
                <label for="genero">Género:</label>
                <select class="form-control" id="genero" th:field="*{genero.id}">
                  <option value="" disabled selected>Selecciona un género</option>
                  <option th:each="gen : ${generos}" th:value="${gen.id}" th:text="${gen.nombre}"></option>
                </select>
              </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        
        <a class="btn btn-secondary mt-3" th:href="@{/public}">Inicio</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
