<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!--<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista de Géneros</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
-->

<head>
    <th:block th:insert="fragments/fragment :: cabecera"></th:block>
</head>
<nav>
    <th:block th:insert="fragments/fragment :: navegacion"></th:block>
</nav>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Lista de Géneros</h1>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="genero : ${generos}">
          <td th:text="${genero.id}">Id</td>
          <td th:text="${genero.nombre}">Nombre</td>
          <td>
            <a class="btn btn-primary" th:href="@{/generos/editar/{id}(id=${genero.id})}">Editar</a>
            <form th:action="@{/generos/borrar/{id}(id=${genero.id})}" method="post" style="display:inline;">
              <button type="submit" class="btn btn-danger">Borrar</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-success" href="/generos/nuevo">Crear Nuevo Género</a>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
