<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/fragment :: cabecera"></th:block>
</head>
<nav>
    <th:block th:insert="fragments/fragment :: navegacion"></th:block>
</nav>
<body>
    <div class="container mt-5">
        <h1 th:text="${#strings.isEmpty(usuario.id) ? 'Crear Usuario' : 'Editar Usuario'}"></h1>
        <form th:action="@{${#strings.isEmpty(usuario.id) ? '/usuarios/submit' : '/usuarios/editar'}}" th:object="${usuario}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required />
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required />
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" required />
            </div>
           
            <div class="form-group">
                <label for="rol">Rol:</label>
                <input type="text" class="form-control" id="rol" th:value="${rol}" readonly />
            </div>
            
            
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary" th:text="${#strings.isEmpty(usuario.id) ? 'Crear' : 'Guardar Cambios'}"></button>
            </div>
        </form>
        <a class="btn btn-secondary mt-3" href="/public">Volver a la lista</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>


