<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cierre de Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-custom-primary {
            background-color: #007bff;
            color: white;
        }

        .btn-custom-secondary {
            background-color: #6c757d;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h2>Te has desconectado correctamente</h2>
        <a class="btn btn-custom-secondary mt-3" th:href="@{/signin}">Iniciar sesión</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

